/***************************
GRID STRUCTURE
-------------
Don't edit unless you want
to destroy the grid system.
****************************/
.column {
  flex-basis: 100%;
  box-sizing: border-box;
}


/* When the browser is larger than 600px wide, change the number if you want to change when the site switches to desktop layout */
  @media (min-width: 600px) {
    .row {
      display: flex; /* Creates rows */
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .column {
      flex: 1; /* Causes divs to fill row equally unless otherwise defined */
    }

    /* Percentages for specific columns */
    .one-quarter {flex: 25%;}
    .three-quarters {flex: 75%;}
    .one-third {flex: 33.33.%;}
    .one-half {flex: 50%;}
    .two-thirds {flex: 66.66%;}
    .one-fifth {flex: 20%;}
    .two-fifths {flex: 40%;}
    .three-fifths {flex: 60%;}
    .four-fifths {flex:80%;}

  }
/* End desktop layout */








.
